# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-publica

# WhatsApp (opcional, ya está por defecto en el código)
NEXT_PUBLIC_WHATSAPP_NUMBER=543835430869
